/* Cascating Stylesheet */

html,
* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --pink: hsl(295, 81%, 75%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--pink);
}

.avatar {
  width: 12rem;
  margin: 13.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 12rem;
  height: 13.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--pink);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

#userLink:hover {
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgb(97, 0, 65),
    rgb(247, 0, 255),
    yellow
  );
}

.transition:hover {
  height: 52px;
  background: linear-gradient(
    to right,
    rgb(236, 126, 0),
    rgb(255, 0, 140),
    rgb(1, 255, 255)
  );
  transition: heigth 2s;
}

li a:hover {
  width: 45px;
  height: 45px;
  border: 1px;
  border-style: solid;
  border-color: #e00dab;
  transition: 0.2s;
  border-bottom-color: #ff2dcb;
  border-radius: 15%;
}
